.container-fluid.py-5.my-5.text-center
  .row
    .col-12
      h1(ssr-rv-html='title')
  section.row
    .col-12
      p(ssr-rv-html='content')
  rv-logger(ssr-rv-log-me='content')
  rv-logger(ssr-rv-log-me='obj | json')
