bs5-sidebar#main-sidebar {
    $navbar-height: 48px;
    top: $navbar-height;
    height: calc(100vh - $navbar-height);
    .active {
        color: $white !important;
        font-weight: bold;
    }
}