.container.container-md.py-5.my-5.bg-white
  .row
    .col-12
      h1.text-center(ssr-rv-text="title")
  section.row
    .col-12
      .text-center.my-3(ssr-rv-html="content")
      .alert.alert-danger.text-left(role="alert")
        span(ssr-rv-each-line="error.stack")
          | [ line ]
          br
