bs5-sidebar#main-sidebar.bg-primary.text-light.py-5(container-selector="#main-container" position="left")
  div.list-group
    each item in linkList.main.items
      .list-group-item.list-group-item-action.bg-transparent.border-0
        a.nav-link.text-light(rv-route-class-active href=item.url)= item.label